<h1>Login</h1>

<form method="POST">
    <div>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="pword" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Sign Up" formaction="/signup"/>
                </td>
                <td>
                    <input type="submit" value="Sign In" formaction="/signin"/>
                </td>
            </tr>
        </table>
    </div>
</form>